@CHARSET "UTF-8";
#wrapper{
	width:700px;
	margin:auto;
	margin-top:20px;
	border:1px solid white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#picture_slide{
	margin:auto;
	width:500px;
	height:500px;
	
}
#spec{
	margin:auto;
	width:500px;
	height:300px;
}